absl-py
altair
asttokens
astunparse
attrs
audioread
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
contourpy
crepe
cycler
DateTime
debugpy
decorator
dominate
executing
Flask
Flask-Bootstrap
flatbuffers
fonttools
gast
gitdb
GitPython
google-pasta
grpcio
h5py
hmmlearn
idna
imageio
ipykernel
ipython
itsdangerous
jedi
Jinja2
joblib
jsonschemad
jsonschema-specifications
jupyter_client
jupyter_core
keras
kiwisolver
lazy_loader
libclang
librosa
llvmlite
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml_dtypes
mpmath
msgpack
namex
narwhals
nest-asyncio
noisereduce
numba
numpy
nupy
opt-einsum
optree
packaging
pandas
parso
pillow
platformdirs
pooch
prompt_toolkit
protobuf
psutil
pure-eval
pyarrow
PyAudio
pycparser
pydeck
pydub
Pygments
pyparsing
python-dateutil
pytz
pywin32
pyzmq
referencing
requests
resampy
rich
rpds-py
scikit-learn
scipy
seaborn
setuptools
six
smmap
sounddevice
soundfile
soxr
stack-data
streamlit
sympy
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
termcolor
threadpoolctl
toml
tornado
tqdm
traitlets
typing_extension
tzdata
urllib3
visitor
watchdog
Wave
wavio
wcwidth
Werkzeug
wheel
wrapt
zope.interface



